<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyecto">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Edit.TeamEditActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".Detail.JugadorDetailActivity" android:screenOrientation="portrait" />
        <activity android:name=".Edit.PlayerEditActivity" android:screenOrientation="portrait" />
        <activity android:name=".Register.SelectionActivity" android:screenOrientation="portrait" />
        <activity android:name=".Register.PlayerRegisterActivity" android:screenOrientation="portrait" />
        <activity android:name=".Register.TeamRegisterActivity" android:screenOrientation="portrait" />
        <activity android:name=".RecoverPass.RecoverActivity" android:screenOrientation="portrait" />
        <activity android:name=".RecoverPass.RecoverSendActivity" android:screenOrientation="portrait" />
        <activity android:name=".NavigationController.ControllerActivity" android:screenOrientation="portrait" />
        <activity android:name=".Detail.OfertaDetailActivity" android:screenOrientation="portrait" />
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>